.headContainer {
	/* border: 1px solid black; */
	height: 5rem;
	display: flex;
	flex-direction: row;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #3f50b5;
}
.leftPart,
.rightPart {
	flex: 1;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	font-size: 2rem;
	color: white;
}
